.code-style {
	.rounded-square {
		-webkit-border-top-left-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-topleft: 4px;
		-moz-border-radius-bottomleft: 4px;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	    width: 20px;
	    height: 20px;
	    display: inline-block;
	    position: relative;
	    top: 5px;
	}

	code {
		color: $color-black-87;
	    background: $color-black-4;
	    padding: 2px 5px;
	    -webkit-border-top-right-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		-moz-border-radius-topright: 4px;
		-moz-border-radius-bottomright: 4px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}
// Mixins
pre {
	background-color: #f8f8f8;
	position: relative;
	border-radius: 2px;

	code {
	    overflow-x: auto;
	    color: #525252;
	    white-space: pre;
	    padding: 1.2em 1.4em;
	    line-height: 1.5em;
	    font-size: 1em;
	    display: block;
	}
}

h3 {
    margin-top: 2em;
}

.example-code {
  border-radius: 2px;
  margin: 1.6em 0;
  padding: 1.6em;

  .example-header {
    font-weight: 600;
    margin-bottom: 8px;
  }

  &.good {
    background: #eaedec;
    
    .example-header {
      color: #677b72;
    }
  }

  &.bad {
    background: #f3eded;
    
    .example-header {
      color: #a67878;
    }
  }
}

.content-aux-nav {
	position: fixed;
	top: 2em;
    right: 2em;
    width: 260px;

    h5 {
		background: #2a4a78;
	    color: #ffffff;
	    font-size: 14px;
	    margin-bottom: 0;
	    padding: 15px 20px;
	    text-transform: uppercase;
	}

	.list-group {
		max-height: 636px;
    	overflow-y: auto;
   	}

	.list-group-item.active {
		background-color: #0093c6;
		border-color: #0093c6;
		color: #fff;
	}
}

span.highlight {
    background-color: #fae765;
    padding: 4px;
}

span.highlight.light {
	background-color: #f2f2f2;
}

.list-palette {
	list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 15px;

	.palette {
		border-radius: 5px;
    	background-color: #fff;
    	padding-left: 0;
    	margin-bottom: 2em;
		
		.palette-color {
			height: 75px;
			position: relative;
		}
		
		.palette-main {
			height: 75px;
			width: 50%;
			float: left;
			-webkit-border-top-left-radius: 5px;
    		-moz-border-radius-topleft: 5px;
    		border-top-left-radius: 5px;
		}

		.palette-hover {
			float: right;
			height: 75px;
			width: 50%;
    		-webkit-border-top-right-radius: 5px;
    		-moz-border-radius-topright: 5px;
    		border-top-right-radius: 5px;
		}

		.palette-name-wrap {
			border: 1px solid #ccc;
    		border-top: 0;
    		padding: 6px;
    		-webkit-border-bottom-right-radius: 5px;
    		-moz-border-radius-bottomright: 5px;
    		border-bottom-right-radius: 5px;
    		-webkit-border-bottom-left-radius: 5px;
    		-moz-border-radius-bottomleft: 5px;
    		border-bottom-left-radius: 5px;

			.palette-name {
				font-weight: bold;
			}

			span {
				color: $color-black-54;
				display: block;
			}
		}

		&.primary {
			.palette-main { background-color: $color-primary; }
			.palette-hover { background-color: $color-primary-hover; }
		}

		&.secondary {
			.palette-main { background-color: $color-secondary; }
			.palette-hover { background-color: $color-secondary-hover; }
		}

		&.tertiary {
			.palette-main { background-color: $color-white; }
			.palette-hover { background-color: $color-white; }
		}

		&.danger {
			.palette-main { background-color: $color-danger; }
			.palette-hover { background-color: $color-danger-hover; }
		}
		
		&.success {
			.palette-main { background-color: $color-success; }
			.palette-hover { background-color: $color-success-hover; }
		}
		
		&.info {
			.palette-main { background-color: $color-info; }
			.palette-hover { background-color: $color-info-hover; }
		}
		
		&.warning {
			.palette-main { background-color: $color-warning; }
			.palette-hover { background-color: $color-warning-hover; }
		}
		&.tertiary {
			.palette-main { border: 1px solid $color-secondary; }
			.palette-hover { 	
				border: 1px solid $color-secondary-hover; 
				border-left: 0;
			}
		}
	}
}

.black-palette {
	.color-black { background: $color-black; color: $color-white; }
	.color-black-87 { background: $color-black-87; color: $color-white; }
	.color-black-74 { background: $color-black-74; color: $color-white; }
	.color-black-62 { background: $color-black-62; color: $color-white; } 
	.color-black-54 { background: $color-black-54; color: $color-white; }
	.color-black-38 { background: $color-black-38; color: $color-white; }
	.color-black-26 { background: $color-black-26; color: $color-white; }
	.color-black-12 { background: $color-black-12; color: $color-white; }
	.color-black-7 { background: $color-black-7; color: $color-black-62; }
	.color-black-4 { background: $color-black-4; color: $color-black-62; }
	.color-black-2 { background: $color-black-2; color: $color-black-62; }
	.color-white { background: $color-white; color: $color-black-62; }
}
