// Variables
@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700');

$exo2-font: 'Exo 2', sans-serif;

$color-primary: rgb(53, 176, 130);
$color-primary-hover: rgb(0, 149, 95);
$color-secondary: rgb(0, 155, 178);
$color-secondary-hover: rgb(5, 123, 140);
$color-danger: rgb(233, 79, 61);
$color-danger-hover: rgb(215, 57, 38);
$color-success: rgb(112, 191, 73);
$color-success-hover: rgb(89,152,58);
$color-info: rgb(69, 108, 170);
$color-info-hover: rgb(44, 69, 109);
$color-warning: rgb(247, 179, 52);
$color-warning-text: rgb(237, 118, 36);
$color-warning-hover: rgb(237, 118, 36);

$color-white: rgb(255, 255, 255);
$color-black-2: rgb(250, 250, 250);
$color-black-4: rgb(245, 245, 245);
$color-black-7: rgb(238, 238, 238);
$color-black-12: rgb(224, 224, 224);
$color-black-26: rgb(189, 189, 189);
$color-black-38: rgb(158, 158, 158);
$color-black-54: rgb(117, 117, 117);
$color-black-62: rgb(97, 97, 97);
$color-black-74: rgb(66, 66, 66);
$color-black-87: rgb(33, 33, 33);
$color-black: rgb(0, 0, 0);

$color-silver: rgb(127, 136, 145);
$color-link: rgb(69, 108, 170);
$color-ucla-gold-light: rgb(255, 204, 77);
$color-cloud: rgb(233, 243, 253);
$color-oxford-blue: rgb(0, 38, 77);


$color-vermilion: rgb(235, 59, 36);
$size-xxxl: 64px;
$size-xxl: 48px;
$size-xl: 36px;
$size-l: 24px;
$size-m: 16px;
$size-s: 13px;
$size-xs: 11px;
$font-heading: "Fira Sans", Helvetica, Arial, sans-serif;
$font-text: "Fira Sans", Helvetica, Arial, sans-serif;
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-normal: 400;
$weight-light: 300;
$opacity-disabled: 0.5;
$height-footer: 64px;
$tappable-square: 44px;
$duration-quickly: 0.08s;
$duration-slowly: 0.5s;
$z-index-modal: 9999;
$z-index-sticky: 100;
$media-query-m: (
  min-width: 768px,
);
$media-query-l: (
  min-width: 1024px,
);
$shadow-s: 0 0 0 1px rgba(92, 106, 196, 0.1);
$spacing-xl: 2px;
$spacing-l: 1px;
$spacing-m: 0;
$spacing-s: -0.5px;
$spacing-xs: -1px;
$radius-default: 3px;
$radius-circle: 50%;
$space-xxl: 128px;
$space-xl: 64px;
$space-l: 48px;
$space-m: 24px;
$space-s: 16px;
$space-xs: 8px;
$space-xxs: 4px;
$line-height-m: 1.6;
$line-height-s: 1.3;
$line-height-xs: 1;